/ejercicio_2/build/
/ejercicio_2/nbproject/private/
/ejercicio_3/nbproject/private/
/ejercicio_3/build/
/ejercicio_4/nbproject/private/
/ejercicio_4/build/
/ejercicio_5/nbproject/private/
/ejercicio_5/build/
/primer_ejercicio/nbproject/private/
/primer_ejercicio/build/
/ejercicio__2/nbproject/private/
/ejercicio__2/build/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/Ejercicio__4/nbproject/private/